body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0A0C1C;
}
main{
    display: flex;
    flex-direction: row;
    width: 69.375rem;
    height: 27.875rem;
    background: #1B1937;
    box-shadow: 0rem 1.25rem 1.25rem -0.625rem rgba(23, 25, 41, 0.203087);
    border-radius: 0.5rem;
    overflow: hidden;
}
/* メインテキスト */
/* ヘッダー */
h1{
    width: 25.25rem;
    margin-top: 4.4375rem;
    margin-right: 5.9375rem;
    margin-left: 4.4688rem;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: 'Inter';
}
h1 emphasis{
    color: #AB5CDB;
}
/* 説明 */
p{
    width: 23.375rem;
    margin-top: 1.5625rem;
    margin-left: 4.4688rem;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    opacity: 0.75;
    font-family: 'Inter', sans-serif;
}
/* 詳細情報 */
info{
    display: flex;
    flex-direction: row;
    margin-top: 4.5rem;
    margin-left: 4.4688rem;
    color: #FFFFFF;
}
info num{
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
}
info name{
    margin-top: 0.125rem;
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.0625rem;
    opacity: 0.6;
    font-family: 'Lexend Deca', sans-serif;
}
#company{
    display: flex;
    flex-direction: column;
    margin-right: 3.9375rem;
}
#templates{
    display: flex;
    flex-direction: column;
    margin-right: 3.75rem;
}
#queries{
    display: flex;
    flex-direction: column;
}
/* イメージ画像 */
.pic{
    background-color: #AB5CDB;
}
#hero-pc{
    display: block;
    opacity: 0.7;
}
#hero-sp{
    display: none;
}


/* SP版
-------------------------------------------------------------------------------- */
@media (max-width: 47.9375rem){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #0A0C1C;
    }
    main{
        display: flex;
        flex-direction: column;
        width: 20.4375rem;
        height: 48.75rem;
    }
    /* メインテキスト */
    h1{
        width: 16.5rem;
        margin-top: 2.5rem;
        margin-left: 1.9375rem;
        font-size: 1.75rem;
        line-height: 2rem;
        text-align: center;
    }
    p{
        width: 16.5rem;
        margin-top: 1rem;
        margin-left: 1.9375rem;
        font-size: 0.9375rem;
        line-height: 1.5625rem;
        text-align: center;
    }
    /* 詳細情報 */
    info{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 2.5rem;
        margin-left: 0rem;
        text-align: center;
    }
    info num{
        font-weight: 700;
        font-size: 1.5rem;
        font-family: 'Inter', sans-serif;
    }
    info name{
        margin-top: 0.125rem;
        font-weight: 400;
        font-size: 0.75rem;
        letter-spacing: 0.0625rem;
        opacity: 0.6;
        font-family: 'Lexend Deca', sans-serif;
    }
    #company{
        margin-right: 0rem;
    }
    #templates{
        margin-right: 0rem;
    }
    /* メイン画像 */
    .pic{
        background-color: #AB5CDB;
    }
    #hero-pc{
        display: none;
        opacity: 0.7;
    }
    #hero-sp{
        display: block;
        width: 20.4375rem;
        height: 15rem;
        opacity: 0.7;
    }
}
